body{
	font-family: 'Poppins', sans-serif;
}
nav{
	width: 100%;
	padding: 20px;
	font-size: 0.9em;
}
nav ul{
	display: flex;
	width: 50%;
	margin: auto;
}
ul li{
	list-style-type: none;
}
nav li > a{
	text-decoration: none;
	display: inline-block;
	padding: 8px;
	color: black;
}

nav li a:hover{
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 5px;
}


/*---- header ----*/
header{
	background: url('img/header.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	color: white;
	font-size: 0.9em;
}
.header{
	width: 25%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	text-align: center;
}
.header img{
	max-width: 50%;
	height: auto;
	border-radius: 20px;
}
#para-fonce{
	background-color: #89725B;
	padding: 15px;
}

/*++++ main ++++*/
main{
	margin: 0;
	padding: 0;
}
/*### main -> formation ####*/
#formation{
	width: 100%;
	padding: 70px 0px 20px 0px;
}
.cont-form{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.filiere{
	width: 250px;
	margin: 30px;
	text-align: center;
}
.fili-icon i{
	padding: 0.5em;
	border: 1px solid green;
	border-radius: 2em;
}
/*### main -> techno ###*/
#techno{
	background-color: #EFECCA;
	padding: 20px;
	width: 100%;
}
#techno h2, #techno ul, #pratique h2, #pratique > p{
	text-align: center;
}
#techno ul{
	display: flex;
	justify-content: center;
}
#techno ul > li{
	margin: 10px;
	padding: 5px;
}
#techno > div{
	display: flex;
	justify-content: center;
}
.techno-container{
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.wordpress, .html-css, .canva, .js, .java, .inkscape, .adobe, .python{
	width: 200px;
	height: 160px;
}
.canva img, .inkscape img, .python img{
	max-width: 40%;
	margin: 0px auto;
}
.wordpress, .html-css, .canva, .js, .java, .inkscape, .adobe, .python{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wordpress{
	background-color: #CCFFE5;
}
.html-css{
	background-color: #66B2FF;
}
.html-icon{
	color: #F75200;
}
.css-icon{
	color: #234AB5;
}
.canva{
	background-color: #938B9B;
}
.js{
	color: #FFBC00;
	background-color: #5F9EA0;
}
.java,.java i{
	color: red;
	background-color: #89725B;
}
.java p{
	color: black;
}
.inkscape{
	background-color: #4EA9A0;
}
.adobe{
	color: #FF73BF;
	background-color: #2F93A2;
}
.python{
	background-color: #DCECCA;
}
.wordpress p, .java p, .inkscape p{
	margin-top: 0;
	padding: 0;
}
#wordpress-bold{
	font-weight: bold;	
	font-size: 1.2em;
}
#blue-span{
	color: #046380;
}
#small-case{
	font-size: 0.7em;
}

/*### main -> pratique ###*/
#pratique{
	padding: 30px 0px;
}
.pratique-cont{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.left, .right{
	width: 250px;
}
.description{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.description p{
	margin: 0;
}
.mere, .fille{
	height: 7px;
	border-radius: 10px;
}
.mere{
	width: 100%;
	background-color: #8FA3AD;
}
.fille{
	background-color: #778E60;
}
.p-fille{
	width: 100%;
}
.b-fille{
	width: 80%;
}
.o-fille{
	width: 90%;
}
.r-fille{
	width: 70%;
}
.rien{
	margin-top: 40px;
}